/*Footer*/
footer {
  margin-top: 5rem;
}
i.fa.fa-github {
  margin-left: 15px;
  margin-top:5px;
  font-size: 3.5em;
  vertical-align: middle;
}
a.glyphicon.glyphicon-envelope {
  margin-left: 10px;
  margin-top:5px;
  font-size: 2.5em;
  top: 0.5em;
}
/* End Footer*/
body {
  margin-top: 20px;
  background-image: url(https://www.colourbox.com/preview/2216485-white-dollar-sign-seamless-background-texture-pattern-for-continuous-replicate-see-more-seamless-backgrounds-in-my-portfolio.jpg);
  background-color: silver;
  background-blend-mode: screen;
}

h1 {
  color: #0A8A0A;
  font-family: "Orbitron", "Times New Roman";
  font-weight: bold;
  padding-top: 10px;
}

h3 {
  color: #0A8A0A;
  font-weight: bold;
  font-family: "Orbitron", "Times New Roman";
}

p {
  padding: 0px 10px;
}

.main {
  width: 900px;
  height: 680px;
  box-shadow: 0px 0px 20px #000;
  text-align: center;
  margin: auto;
}

.chart {
  text-align: left;
}

.chart rect {
  fill: #85bb65;
}

.chart rect:hover {
  fill-opacity: 0.9;
}

.axis path, line {
  fill: none;
  stroke: #000;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 150px;
  height: 60px;
  color: blue;
  font-family: "Times New Roman", Times, serif;
  background: #E8E8E8;
  border: 0px;
  border-radius: 0.5em;
  pointer-events: none;
}
